<% layout("/boilerplate") %> 

<link rel="stylesheet" href="CSS/data-upload.css">

<div class="container-xl">

  <h1 class="text-center mb-4"><u>Data Upload</u></h1>

<div class="row mb-4">

  <h3 class="text-center mb-4"><u>Images(Cloudinary)</u></h1>


  <div class="col-4">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">Upload an image:</h5>
            <form action="/img-data" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                <div class="mb-3">
                    <input class="form-control" type="file" id="image" name="image" autofocus required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                      Please provide a valid image file, it accepts jpg, jpeg and png formats.
                    </div>
                </div>
                <button class="btn btn-success btn-block">Upload to Cloudinary & Mongo</button>
            </form>
        </div>
    </div>
</div>

<div class="col-7 offset-1">
  <div class="card shadow">
      <div class="card-body">
          <h5 class="card-title">Images on your account:</h5>
          <div class="container-fluid p-0">
            <div id="images" class="row">
              <% for (let image of images) { %>
                <div class="imgCol col-4 p-0">
                  <a href="/img-data/edit-img/<%= image._id %>" class="imgAnchor">
                    <img src="<%= image.path %>" class="userImage w-100 h-100" alt="An image should be here">
                  </a>
                </div>
              <% } %> 
            </div>
          </div>
      </div>
  </div>
</div>


</div>

<h3 class="text-center my-4"><u>Text(Mongo Atlas)</u></h1>

<div class="row">
  
  <div class="col-4">

    <div class="card shadow">
      <div class="card-body">
          <h4 class="card-title mb-3"> <u>What is your favourite...</u> </h4>
          <% if (favs.length) { %>
            <form action="/txt-data" method="POST" class="needs-validation" novalidate>
              <div class="mb-3">
                <label for="fav1" class="form-label">animal?</label>
                  <input class="form-control" type="text" id="fav1" name="favs[animal]" value="<%= favs[0].animal %>" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please provide some text.
                  </div>
              </div>
              <div class="mb-3">
                <label for="fav2" class="form-label">food?</label>
                  <input class="form-control" type="text" id="fav2" name="favs[food]" value="<%= favs[0].food %>" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please provide some text.
                  </div>
              </div>
              <div class="mb-3">
                <label for="fav3" class="form-label">movie or tv show?</label>
                  <input class="form-control" type="text" id="fav3" name="favs[movieTv]" value="<%= favs[0].movieTv %>" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please provide some text.
                  </div>
              </div>
              <div class="mb-3">
                <label for="fav4" class="form-label">hobby?</label>
                  <input class="form-control" type="text" id="fav4" name="favs[hobby]" value="<%= favs[0].hobby %>" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please provide some text.
                  </div>
              </div>
              <p class="card-subtitle mb-3">To edit once uploaded. Simply just change it here and re-upload.</p>
              <button class="btn btn-success btn-block">Re-Upload to Mongo</button>
          </form>

          <% } else {%> 

          <form action="/txt-data" method="POST" class="needs-validation" novalidate>
              <div class="mb-3">
                <label for="fav1" class="form-label">animal?</label>
                  <input class="form-control" type="text" id="fav1" name="favs[animal]" autofocus required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please provide some text.
                  </div>
              </div>
              <div class="mb-3">
                <label for="fav2" class="form-label">food?</label>
                  <input class="form-control" type="text" id="fav2" name="favs[food]" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please provide some text.
                  </div>
              </div>
              <div class="mb-3">
                <label for="fav3" class="form-label">movie or tv show?</label>
                  <input class="form-control" type="text" id="fav3" name="favs[movieTv]" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please provide some text.
                  </div>
              </div>
              <div class="mb-3">
                <label for="fav4" class="form-label">hobby?</label>
                  <input class="form-control" type="text" id="fav4" name="favs[hobby]" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please provide some text.
                  </div>
              </div>
              <button class="btn btn-success btn-block">Upload to Mongo</button>
          </form>
          <% } %> 
      </div>
    </div>
  </div>


  <div class="col-7 offset-1">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">Your current favourites:</h5>
        <div class="container">
          <% if (favs.length) {%> 
            <div class="row">
              <div class="col"><%= favs[0].animal %></div>
              <div class="col"><%= favs[0].food %></div>
              <div class="col"><%= favs[0].movieTv %></div>
              <div class="col"><%= favs[0].hobby%></div>
            </div>
            <div class="row">
              <div class="col">
                <form action="/txt-data?_method=DELETE" method="POST" class="d-inline">
                  <button onclick="return confirm('Are you sure?')" class="btn btn-danger delete me-1">Delete</button>
                </form>
              </div>
            </div>
          <% } else { %> 
            <div class="row">
              <div class="col">
                <h1 class="text-center">You have no favourties yet</h1>
              </div>
            </div>
          <% } %> 

        </div>
      </div>
    </div>
  </div>

</div>

<script src="/JS/data-upload.js"></script>


